*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   outline: none;
}
body{
   background-color: #f5f5f5;
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   padding: 5.5rem;
}
.container h1{
   color: #141c2c;
}
.footer{
   background: #141c2c;
   padding: 2rem 3.5rem;
}
.logo{
   color: #d5d5d5;
   font-family: "Permanent Marker", cursive;
   font-size: 2.8rem;
   text-align: center;
}
.social-media{
   text-align: center;
}
.social-media a{
   text-decoration: none;
   color: #d5d5d5;
   font-size: 1.2rem;
   width: 2.3rem;
}
.social-media a:hover{
   color: #8c94b8;
}
.footer-container{
   display: flex;
}
.footer-wrapper{
   width: 100%;
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: flex-start;
   padding: 0.8rem;
}
.footer-wrapper h4{
   color: #d5d5d5;
   line-height: 4;
}
.footer-wrapper a{
   text-decoration: none;
   color: #8c94b8;
   line-height: 2;
}
.footer-wrapper a:hover{
   color: #d5d5d5;
}
.footer-wrapper p{
   color: #8c94b8;
   margin-bottom: 20px;
}
.footer-newsletter{
   display: flex;
   min-width: 300px;
   flex-wrap: wrap;
   margin-bottom: 20px;
}
.footer-newsletter > input{
   background-color: #d5d5d5;
   border: 2px solid #d5d5d5;
   width: 65%;
   padding: 0.5rem;
   margin-right: 0.3rem;
}
.footer-newsletter > button{
   color: #d5d5d5;
   width: 30%;
   background-color: transparent;
   border: 2px solid #8c94b8;
   padding: 0.5rem;
   cursor: pointer;
   transition: all 0.2s ease-in;
}
.footer-newsletter > button:hover{
   background-color: #8c94b8;
   color: #141c2c;
   font-weight: 600;
}
.divider{
   border: 1px solid #8c94b8;
   margin: 0.5rem 0rem;
}
.webright{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.webright-left{
   color: #d5d5d5;
   font-size: 0.8rem;
}
.webright-right > a{
   text-decoration: none;
   color: #d5d5d5;
   font-size: 0.8rem;
   padding-right: 10px;
}

